body{
    margin:0;
}
#um{
    
    float: left;
    width: 100%;
    height: 300px;
}
#dois{
    
    float: left;
    width: 30%;
    margin-left:20px;
    height: 500px;
}
#tres{
    
    float: left;
    width: 60%;
    
    height: 400px;
}
#quatro{
    border: black solid 3px;
   clear: both;
    width: 60%;
    height: 100px;
}