body{
    margin: 0;
}
#um{
    border: red solid 3px;
    width: 200px;
    height: 200px;
    
    float: left;
    
}
#dois{
    border: black dotted 3px;
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    left:50px;
    top:200px;
}
#tres{
    border: blue solid 3px;
    width: 200px;
    height: 200px;
    float: left;
    position: absolute;

}
#quatro{
    border: green solid 3px;
    width: 200px;
    height: 200px;
    float: left;

    
}